# Compiled JavaScript files
lib/

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# sevret keys. Read README.md for more information.
src/secret.json
src/config.json
